html, body, header, #intro {
  height: 100%;
  font-family: "Raleway", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair", serif;
}

#submit {
  font-family: "Playfair", serif;
}

#name {
  font-family: "Raleway", sans-serif;
}

#content {
  margin-top: 3em;
}

h2 {
  text-align: center;
}

#submit {
  margin-top: 1em;
}


